/.idea
/node_modules
/loginpage/package-lock.json
/admindashboard/package-lock.json
/admindashboard/.idea
/admindashboard/node_modules
/salespage/node_modules
/salespage/.idea
/salespage/package-lock.json