body, html {
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: deepskyblue;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 1440px;
  margin: auto;
  background: #ffffff;
}

@media (max-width: 576px) {
  body,
  html {
    overflow-x: hidden;
  }


  .App {
    text-align: right;
  }
}

button {
  color: #ffffff;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  background-color: transparent;
}

.navigation-row {
  background: #c6c6c6;
}

nav.navbar {
  justify-content: flex-end;
}

@media (max-width: 576px) {
  nav.navbar {
    padding: 7px 0;
  }
}

.wishlist-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-logo-navigation {
  padding: 2rem 0;
}

.search-logo-navigation > .medicine-image {
  display: flex;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  display: block;
  margin: auto;
}

.search-row {
  border: 1px solid yellowgreen;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.input-form {
  line-height: 2.5rem;
  border-radius: 5px;
  border: 1px solid lawngreen;
}

.input {
  width: 100%;
  border: none;
  float: left;
  border-right: 1px solid gray;
}

button:focus, input:focus, textarea {
  outline: none !important;
}

.input-form > .navbar {
  padding: 0 1rem;
  margin: auto;
}

.icon-container {
  background: yellowgreen;
  padding: 1rem;
}

@media (max-width: 576px) {
  .icon-container {
    text-align: center;
    font-size: 1.5rem;
  }
}

.icon-container > .button, .icon-container > .button:hover {
  background: transparent;
}

.ui.selection.dropdown {
  padding: 1rem 0;
  background: yellowgreen;
  text-align: center;
  font-size: 1.25rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.ui.dropdown:not(.button)>.default.text {
  color: #ffffff;
}

.multiple-navigations {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.ui.menu {
  border: transparent;
  box-shadow: none;
}

.cart-status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-row {
  padding: 2rem;
}

.baby-tab > .row {
  padding: 1.25rem 0;
}

.carousel-caption > h3, .carousel-caption > p {
  color: #000;
}

.ui.card {
  box-shadow: none;
}

.contents {
  display: flex;
  justify-content: space-around;
}

.currency {
  color: #a2d633;
  font-size: 1.25rem;
}

@media (max-width: 576px) {
  .side-img {
    display: flex;
    justify-content: center;
  }

  .img-box > div {
    display: flex;
    justify-content: center;
  }
}

.img-box > img {
  height: 235px;
  width: 420px;
}

.feature-header > h4 {
  font-weight: 600;
  font-size: 30px;
}

@media (max-width: 576px) {
  .feature-header > h4 {
    text-align: center;
  }

  .box-content > ul {
    padding: 0;
  }
}

.box-content {
  display: flex;
  align-items: center;
}

.box-content > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
}

.box-content > ul > li {
  float: left;
  margin: 0 1rem;
}

.baby-tab > .cards-container-row {
  padding: 1rem;
}

.cards-container {
  border-radius: 4px;
  border: 1px solid #97adb4;
  margin: 1rem;
}

.cards-container > .ui.card > div {
  text-align: left;
}

.cards-container > .ui.card > .major-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards-container > .ui.card > .major-contents .contents {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.bucket > button > i {
  color: yellowgreen;
  border: 1px solid #495057;
  padding: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.section3-row {
  text-align: left;
}

.contact-header > h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 1.5rem;
}

.contact-info {
  padding: 2rem;
  display: flex;
  justify-content: center;
  border: 2px solid #ebebeb;
  border-radius: 5px;
}

.contact-info > .ui.card {
  width: 100%;
}

.content {
  text-align: center;
}

.content > span {
  color: #c00;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 20px;
  display: inline-block;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.description > i {
  color: yellowgreen;
}

button.ui.animated.button {
  width: 100%;
  background: yellowgreen;
  margin-top: 1rem;
  color: white;
}